:root {
    --teamMainColor: #b2f074;
    --teamSecondColor: #475C54;
    --teamThirdColor: #FFFFFF;
}

body {
    display: flex;
    flex-wrap: wrap;

    margin: 1px;
}

#top-bar {
    height: 5%;
    width: 100vw;

    background-color: var(--teamMainColor);
    color: var(--teamThirdColor);

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    vertical-align: middle;

    margin: 0px;
    padding-left: 40px;
    padding-right: 40px;
    border-width: 2px;
    border: var(--teamSecondColor);
}

.profileInfo {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}

#map {
    height: 90vh;
    width: 88%;
}

#side-bar {
    width: 12%;
    
    background-color: var(--teamSecondColor);
    color: var(--teamThirdColor);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.teamInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.claim {
    
}